@model IEnumerable<SalonViewModel>

@{
    ViewData["Title"] = "All";
}

<h2>All Salon</h2>







<form asp-action="SearchByProduct" method="get">
    <div class="form-actions ">
        <p>
            Find by Product: <input type="text" name="product"  />
            <input type="submit" value="Search" class="btn btn-default" /> 
            
        </p>
    </div>
</form>


<br />

<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>City</th>
            <th>Coutry</th>
            <th>Salon Name</th>
          
    </tr>
    </thead>

    <tbody>
        @foreach (var item in @Model)
        {
        <tr>
            <th> @item.City</th>
            <th>@item.Country</th>
            
            <th><a asp-controller="Salon" asp-action="Details" asp-route-id="@item.Id"> @item.Name</a></th>
        </tr>
        }
    </tbody>

</table>