@model Salons



@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name Details</h2>



@foreach(var item in Model.Products)
{
    <ul>
        <li>
              @item.Name
        </li>
    </ul>

}


